    <h1>Photo Details</h1>

<dl>
  <dt>
    Image
  </dt>
  <dd>
    <img src="https://robohash.org/dolorehicincidunt.png?size=300x300&amp;set=set1" height="300px">
  </dd>

  <dt>
    Caption
  </dt>
  <dd>
    <p>
      Once you’ve accepted your flaws, no one can use them against you.
    </p>
  </dd>

  <dt>
    Owner
  </dt>
  <dd>
    catherina
  </dd>

  <dt>
    Posted
  </dt>
  <dd>
    2019-04-27 11:56:39 UTC
  </dd>

  <dt>
    Edit photo
  </dt>
  <dd>
    <form action="/update_photo/777" method="post">
      <label for="browser_image">Image</label>
      <input id="browser_image" type="text" name="input_image" placeholder="Enter a URL for the image..." value=https://robohash.org/dolorehicincidunt.png?size=300x300&amp;set=set1>

      <label for="browser_caption">Caption</label>
      <textarea id="browser_caption" name="input_caption" placeholder="Enter a caption for the photo...">Once you’ve accepted your flaws, no one can use them against you.</textarea>

      <button>Update photo</button>
    </form>
  </dd>

  <dt>
    Delete photo
  </dt>
  <dd>
    <a href="/delete_photo/777">
      Delete this photo
    </a>
  </dd>
</dl>

<h2>Comments</h2>

<table>
  <tr>
    <th>
      Commenter
    </th>

    <th>
      Comment
    </th>

    <th>
      Posted
    </th>
  </tr>


    <tr>
      <td>
        robin
      </td>

      <td>
        The mind is not a vessel to be filled but a fire to be kindled.
      </td>

      <td>
        2019-04-29 22:16:30 UTC
      </td>
    </tr>

    <tr>
      <td>
        galen
      </td>

      <td>
        A few vices are sufficient to darken many virtues.
      </td>

      <td>
        2019-04-29 19:00:58 UTC
      </td>
    </tr>

    <tr>
      <td>
        jolie
      </td>

      <td>
        Beware the barrenness of a busy life.
      </td>

      <td>
        2019-04-29 16:24:49 UTC
      </td>
    </tr>

    <tr>
      <td>
        anisa
      </td>

      <td>
        There was never a genius without a tincture of madness.
      </td>

      <td>
        2019-04-29 03:52:01 UTC
      </td>
    </tr>

    <tr>
      <td>
        galen
      </td>

      <td>
        Most people would rather give than get affection.
      </td>

      <td>
        2019-04-29 02:11:53 UTC
      </td>
    </tr>

    <tr>
      <td>
        augustine
      </td>

      <td>
        Only the educated are free.
      </td>

      <td>
        2019-04-28 15:58:31 UTC
      </td>
    </tr>

    <tr>
      <td>
        trina
      </td>

      <td>
        It is impossible to begin to learn that which one thinks one already knows.
      </td>

      <td>
        2019-04-28 05:55:11 UTC
      </td>
    </tr>

    <tr>
      <td>
        diego
      </td>

      <td>
        The mind is not a vessel to be filled but a fire to be kindled.
      </td>

      <td>
        2019-04-27 17:29:48 UTC
      </td>
    </tr>

    <tr>
      <td>
        roselee
      </td>

      <td>
        Know how to listen, and you will profit even from those who talk badly.
      </td>

      <td>
        2019-04-27 05:00:39 UTC
      </td>
    </tr>
</table>

<h3>Add a new comment</h3>

<form action="/add_comment" method="post">
  <label for="browser_photo_id">Photo ID</label>
  <input id="browser_photo_id" type=text placeholder="Enter the photo ID" name="input_photo_id" value=777>

  <label for="browser_author_id">Author ID</label>
  <input id="browser_author_id" type=text placeholder="Enter your author ID" name="input_author_id">

  <label for="browser_comment">Comment</label>
  <textarea id="browser_comment" type=text placeholder="Enter a comment..." name="input_comment"></textarea>

  <button>Add comment</button>
</form>

  </body>
</html>
